body, html {
	min-width: 320px;
}

.navigation {

	padding-left: 0;
	padding-right: 0;

	#nav-items {
	}

	.navbar-toggler {
	}

}

.navbar-nav .nav-item {
	float: none;
	text-align: -webkit-center;
}

#content {
	margin-top: 20px;
}


























