$transparent: rgba(0,0,0,0);
$primary-red: #e60000;
$primary-grey: #e6e6e6;

body, html {
	min-width: 320px;
}

.navigation {

	padding-left: 0;
	padding-right: 0;

	.navbar {
		padding: 0 1rem;	
	}

	.nav-head {
		background-color: $primary-red;
		height: 50px;
	}

	.navbar-toggler {
		margin-top: 6px;	
	}

	a.navbar-brand {
		height: 100%;	
		line-height: 43px;
		font-size: 22px;
	}

	nav {
		background-color: $transparent;	
	}

	.nav-mobile-menu {
		background-color: $primary-grey;	
	}

	.navbar-nav .nav-item {
		float: none;	
		text-align: -webkit-center;
		font-size: 18px;
	}

}

#content {
	margin-top: 20px;
}

.card {

	.card-block {
		background-color: $primary-grey;	
	}

	.exec-description {
		ul {
			list-style-type: none;	
			padding-left: 0;
		}	
	}
}


























